@namespace DivVizParqet.Pages
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/"

<h3>Dashboard</h3
@if (IsDataAlreadyImported())
{
    <span>@AppState?.Value.LastSyncStocks</span>
    <span>@AppState?.Value.LastSyncMeta</span>
}
else
{
    <InputFile OnChange="@UploadStocksAsync"></InputFile>
    @IsLoading
}
