@namespace DivVizParqet.Pages
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/"
@using DivVisualizer.Components.DataOverview
@using DivVisualizer.Components.DataSource

<h3>Dashboard</h3
@if (IsDataAlreadyImported())
{
    <DataOverview></DataOverview>
}
else
{
    <Button Type="@ButtonType.Default">Hello World!</Button>
}
