@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/settings"

<h3>Settings</h3>
<DivVisualizer.Components.DataSource.ChooseDatasource></DivVisualizer.Components.DataSource.ChooseDatasource>

@code {

}
