@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/settings"

<h3>Einstellungen</h3>

<DivVisualizer.Components.DataSource.ChooseDatasource></DivVisualizer.Components.DataSource.ChooseDatasource>

<Button>Clear Data</Button>