@namespace DivVisualizer.Shared

@*<FluentDesignSystemProvider role="navigation">*@
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <div class="nav__list">
                    <div class="nav__items">
                        <a href="/" class=@("nav__link " + SetAppearance(""))>
                            <i class="fa-solid fa-gauge nav__icon"></i>
                            <span class="nav__name">Home</span>
                        </a>
                         <a href="/year" class=@("nav__link " + SetAppearance("year"))>
                            <i class="fa-solid fa-gauge nav__icon"></i>
                            <span class="nav__name">Jahresdetails</span>
                        </a>
                        <a href="/settings" class=@("nav__link " + SetAppearance("settings"))>
                            <i class="fa-solid fa-screwdriver-wrench nav__icon"></i>
                            <span class="nav__name">Einstellungen</span>
                        </a>
                        @*<div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">Profile</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="#" class="nav__dropdown-item">Passwords</a>
                                    <a href="#" class="nav__dropdown-item">Mail</a>
                                    <a href="#" class="nav__dropdown-item">Accounts</a>
                                </div>
                            </div>
                        </div>*@

                      
                    </div>
                </div>
            </div>

            <a href="#" class="nav__link nav__logout">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>
@*</FluentDesignSystemProvider>*@