<div>
    <label class="custom-file-upload">
        <InputFile />
        <i class="fa fa-cloud-upload"></i>
        Parqet Depotdaten
    </label>
</div>

<div>
    <label class="custom-file-upload">
        <InputFile />
        <i class="fa fa-cloud-upload"></i>
        Parqet Stammdaten
    </label>
</div>